body {
    font-family: 'Open Sans', Arial, sans-serif;
    line-height: 1.5;
    margin: 0;
    padding: 0;
}

nav header {
    margin: 10px;
}

nav li{
    list-style-type: none;
    border-top: 1px solid black;
}

li a {
    display: block;
}

a {
    display: inline-block;
    text-decoration: none;
    color: black;
    font-weight: 400;
    padding: 10px 30px;
}

header {
    font-weight: 500;
    font-size: 1.8em;
}

section p {
    font-size: 0.96em;
    padding: .5em;
}

section li {
    margin: 15px 0 0 20px;
}

code {
    display: block;
    background: #f7f7f7;
    border-radius: 5px;
    padding: 15px;
    margin: 10px;
}

.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 100vh;
}

.nav-wrapper {
    flex-shrink: 0;
    border-right: 2px solid black;
}

main {
    overflow: auto;
}

#introduction, #variable_scope, #constants, #if_else_statement, #while_statement {
    margin: 2rem;
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    #navbar {
       flex-shrink: 0; 
    }
} 