body {
    font-family: 'Open Sans', Arial, sans-serif;
    line-height: 1.5;
    margin: 0;
    padding: 0;
}

nav {
    position: fixed;
    z-index: 1;
    overflow-y: hidden;
    left: 0;
}

nav header {
    margin: 10px;
}

nav li{
    list-style-type: none;
    border-top: 1px solid black;
    padding: 10px 30px;
}

a {
    text-decoration: none;
    color: black;
    font-weight: 400;
}

header {
    font-weight: 500;
    font-size: 1.8em;
}

section p {
    font-size: 0.96em;
    padding: .5em;
}

section li {
    margin: 15px 0 0 20px;
}

code {
    display: block;
    text-align: left;
    white-space: pre-wrap;
    position: relative;
    background: #f7f7f7;
    border-radius: 5px;
    padding: 15px;
    margin: 10px;
}

.flex-container {
    display: flex;
    /* border: 1px solid black; */
}

.nav-container {
    border-right: 2px solid black;
    width: 44rem;
}

#introduction, #variable_scope, #constants, #if_else_statement, #while_statement {
    margin: 2rem;
}